:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary-dark: #1f0322;
  --color-primary-light: #c94bb8;
  --color-secondary: #ce3f63;
}

html{
  font-size: 16px;
  background-color: var(--color-primary-light);
}

body {
  margin: auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1400px;
  overflow-x: hidden;
  border: .1rem dotted red;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (prefers-color-scheme: dark) {
  html{
    background-color: var(--color-primary-dark)
  }
}

@import "tailwindcss";

@theme{
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);
  --color-secondary: var(--color-secondary);
  --color-primary-op : #1f032286
}

